  *{
       margin: 0;
       padding: 0;
      box-sizing: border-box;
    }
    body{
        font-family: "Museo Sans", Noto Sans;
        }
    
   //nav bar style:start
   nav{
    background-color: #000; 
      }
   .navbar-toggler {
        border: 1px solid white;
       }
  .navbar-nav {
        .nav-item{

       #log{
      border: 1px solid #fff;
      outline:none;
      @media all and (max-width:991px){
        border:none;
            }
         }
    .fa{
      border: 1px solid #fff;
      border-radius: 50%;
      text-align: center;
      outline: none;
      @media all and (max-width:991px){
        border:none;
            }
        }  
       a{
         color:#fff;
       }

     
   .nav-link{
        padding: 0 2.2em!important;
      
          :hover{
            border-bottom: 1px solid #F47C4C !important;
            cursor:pointer;
            color:#F47C4C;
              }
            
       
           }
        }
      }

      @media all and (max-width:1100px){
        .button{
            border:1px solid #fff;
            padding: 2px 34px !important;
            color:#fff;
            font-size:1rem;
            text-align: center;
           &:hover{
                 background-color:#F47C4C;
                 color:#fff;
                 text-decoration: none;
            }
        }
      }
      //nav bar style:end
